{% extends "layout.html" %}
{% block title %} please for the love of god be civil {% endblock %}
{% block content %}
<div class="max-w-xl mx-auto py-10">
    <h1 class="text-3xl green-text mb-6 text-center">Upload Shitpost</h1>
        <h1 class="text-sm green-text mb-6 text-center">Dont do anything stupid, I havent implement a delete feature</h1><br>
    <form method="POST" class="bg-gray-800 p-8 rounded-lg space-y-6">
        {{ shitposting_form.hidden_tag() }}
        <div class="form-group">
            <label class="block green-text text-lg mb-2" for="{{ shitposting_form.username.id }}">
                {{ shitposting_form.username.label }}
            </label>
            {{ shitposting_form.username(class="form-control block w-full px-3 py-2 text-base border-2 border-green-500 rounded-md text-green-400 bg-gray-700 focus:outline-none focus:border-green-300") }}
        </div>
        <div class="form-group">
            <label class="block green-text text-lg mb-2" for="{{ shitposting_form.content.id }}">
                {{ shitposting_form.content.label }}
            </label>
            {{ shitposting_form.content(class="form-control block w-full px-3 py-2 text-base border-2 border-green-500 rounded-md text-green-400 bg-gray-700 focus:outline-none focus:border-green-300") }}
        </div>
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded">
            Submit
        </button>
    </form>
</div>
{% endblock %}
