<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<style>
    p { 
        font-family: Chicago_12;
    }
</style>

<script>

function closeWindow(button) {
    var windowElement = button.closest('.window');
    windowElement.style.display = 'none';
}

</script>

<body style="background: #c0c0c0; margin: 0; padding: 0">
<ul role="menu-bar" style="border: 1.5px solid black">
    <li role="menu-item" tabindex="0" aria-haspopup="false">
        <a href="/"><img src="{{ url_for('static', filename='imgs/apple.svg') }}" style="width: 14px; height: 14px;"></a>
    </li>
    <li role="menu-item" tabindex="1" aria-haspopup="false"><btn onclick="window.location.href = '/writings';">Writings</btn></li>
    <li role="menu-item" tabindex="2" aria-haspopup="false"><btn onclick="window.location.href = '/shitposts';">Shitposts</btn></li>
    <li role="menu-item" tabindex="3" aria-haspopup="false"><btn onclick="window.location.href = '/about';">About</btn></li>
</ul>
    {% block content %}{% endblock %}
</body>
</html>
