{% extends "layout.html" %}
{% block content %}
<center>
<div>
    {% if not password_verified %}
    <form action="{{ url_for('manage') }}" method="post">
        {{ password_form.hidden_tag() }}
        <table>
            <tr>
                <td><label for="password">{{ password_form.password.label }}</label></td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
    {% else %}
    <div id="confirmationModal" style="display:none;">
        <div>
            <h3>Confirm Deletion</h3>
            <p>Are you sure you want to delete this post?</p>
            <button id="cancelButton">Cancel</button>
            <form id="confirmForm" method="POST">
                <button type="submit">Confirm</button>
            </form>
        </div>
    </div>
    <section>
        <h2>Writings</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for post in writing_posts %}
                <tr>
                    <td>{{ post[1] }}</td>
                    <td><button onclick="showModal('{{ url_for('delete_writing', post_id=post[0]) }}')">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h2>Shitposts</h2>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for post in shitpost_posts %}
                <tr>
                    <td>{{ post[1] }}</td>
                    <td><button onclick="showModal('{{ url_for('delete_shitpost', post_id=post[0]) }}')">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <script>
        const modal = document.getElementById('confirmationModal');
        const cancelButton = document.getElementById('cancelButton');
        const confirmForm = document.getElementById('confirmForm');

        function showModal(url) {
            confirmForm.action = url;
            modal.style.display = 'block';
        }

        cancelButton.addEventListener('click', function() {
            modal.style.display = 'none';
        });
    </script>

    {% endif %}
</div>
<center>
{% endblock %}
