{% extends "layout.html" %}
{% block title %} damn bro you're actually reading {% endblock %}
{% block content %}
<div class="py-8">
    <h1 class="text-4xl green-text title-text mb-6 text-center">Writings</h1>
    
    <div class="max-w-4xl mx-auto px-4">
        <div class="post bg-gray-800 p-6 rounded-lg shadow-lg mb-8">
            <h2 class="text-2xl text-green-400 mb-2">{{ post[1] }}</h2>
            <h3 class="text-xl text-green-300 mb-2">{{ post[2] }}</h3>
            <p class="text-green-300 mb-4">Date: {{ post[3] }}</p>
            <div class="content text-green-200">
                {{ post[4] | safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
