{% extends "layout.html" %}
{% block title %} damn bro you're actually reading {% endblock %}
{% block content %}
<div class="window">
    <div class="title-bar">
        <div class="title">{{ post[1] }}</div>
    </div>
    <div class="window-pane">
        <h1 style="text-align: center;">{{ post[1] }}</h1>
        <i>
            <h3 style="text-align: center;">“{{ post[2] }}”</h3>
        </i>
        <h6 style="text-align: center;">Date: {{ post[3] }}</h6>
        <p style="white-space: pre-wrap;">{{ post[4] | safe }}</p>
    </div>
</div>
{% endblock %}
