{% extends "layout.html" %}
{% block title %} extended shitposts {% endblock %}
{% block content %}
<center>
    <h1 style="font-size: 2em; margin-bottom: 0.5em;">Writings</h1>
    {% for post in writing_posts %}
    <div class="standard-dialog center scale-down" style="width:30rem;">
        <h2 class="dialog-text">{{ post[1] }}</h2>
        <p class="dialog-text">{{ post[2] }}</p>
        <a href="/read/{{ post[0] }}" class="btn">read</a>
    </div><br>
    {% endfor %}
</center>
{% endblock %}
